/* This file is for your main application CSS */
@import "./phoenix.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Card */
.card {
  /* Card Sizing */
  width: 2.5in;
  min-height: 2in;
  max-height: 2.5in;
  border-radius: .15in;
  margin: 5px;
}

.dark {
  border: 3px solid black;
  color: white;
  background: black;
}

.light {
  border: 3px solid black;
  color: black;
  background: white;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-align: start;
  font-size: 1.5rem;
  word-wrap: break-word;
  display: block;
  padding: 2rem;
}

.card-container { 
  display: flex;   
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

@media (max-width: 576px) { /* Small devices (landscape phones, 576px and up) */
    .card-container { 
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: unset;
    }

    .card-container > * {
      flex-shrink: 0;
      scroll-snap-align: start;
    }
}